<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <distributable/>

    <display-name>WS App Service</display-name>

    <!-- REST service -->
    <!-- Fill XXX and uncomment the following lines -->
    <servlet>
        <display-name>TripsServlet</display-name>
        <servlet-name>TripsServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.TripsServlet
        </servlet-class>
    </servlet>

    <servlet>
        <display-name>BookingsServlet</display-name>
        <servlet-name>BookingsServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.BookingsServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TripsServlet</servlet-name>
        <url-pattern>/trips/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookingsServlet</servlet-name>
        <url-pattern>/bookings/*</url-pattern>
    </servlet-mapping>
    -->

   <!-- Thrift service -->
   <!-- Fill XXX and uncomment the following lines -->
    <servlet>
        <servlet-name>ThriftTripServiceServlet</servlet-name>
        <servlet-class>es.udc.ws.app.thriftservice.ThriftTripServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThriftTripServiceServlet</servlet-name>
        <url-pattern>/thrift/tripservice</url-pattern>
    </servlet-mapping>


    <!-- General configuration -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
